<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script
      src="https://kit.fontawesome.com/5d776a8925.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../public/styles.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rate your teacher</title>
  </head>

  <body>
    <div class="homeContainer">
      <h1>Rate your teacher</h1>
      <div class="teacherCard">
        <div class="imgContainer">
          <img src="../../images/don.jpg" alt="" />
        </div>
        <div class="cardText">
          <p>Don</p>
          <p>
            <i class="far fa-star"></i>
            5/5
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
