<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <script src="https://kit.fontawesome.com/5d776a8925.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Rate your teacher</title>
</head>

<body>
  {{> title}}
  {{{body}}}
</body>

</html>