<div class="cardContainer">
  <a href="#" class="linkCont">
    <div class="teacherCard">
      <div class="imgContainer">
        <img src="../../images/don.jpg" alt="" />
      </div>
      <div class="cardText">
        <p>Don</p>
        <p>
          <i class="far fa-star"></i>
          5/5
        </p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="teacherCard">
      <div class="imgContainer">
        <img src="../../images/don.jpg" alt="" />
      </div>
      <div class="cardText">
        <p>Don</p>
        <p>
          <i class="far fa-star"></i>
          10/10
        </p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="teacherCard">
      <div class="imgContainer">
        <img src="../../images/don.jpg" alt="" />
      </div>
      <div class="cardText">
        <p>Don</p>
        <p>
          <i class="far fa-star"></i>
          5/5
        </p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="teacherCard">
      <div class="imgContainer">
        <img src="../../images/don.jpg" alt="" />
      </div>
      <div class="cardText">
        <p>Don</p>
        <p>
          <i class="far fa-star"></i>
          5/5
        </p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="teacherCard">
      <div class="imgContainer">
        <img src="../../images/don.jpg" alt="" />
      </div>
      <div class="cardText">
        <p>Don</p>
        <p>
          <i class="far fa-star"></i>
          5/5
        </p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="teacherCard">
      <div class="imgContainer">
        <img src="../../images/don.jpg" alt="" />
      </div>
      <div class="cardText">
        <p>Don</p>
        <p>
          <i class="far fa-star"></i>
          5/5
        </p>
      </div>
    </div>
  </a>
</div>