<div class="cardContainer">

  {{#each teachers}}
  <a href="profile/{{id}}" class="linkCont">
    <div class="teacherCard">
      <div class="imgContainer">
        <img src={{image}} alt="" />
      </div>
      <div class="cardText">
        <p>{{name}}</p>
        <p>
          <i class="far fa-star"></i>
          {{average}}/10
        </p>
      </div>
    </div>
  </a>
  {{/each}}
</div>