<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/styles.css" rel="stylesheet" type="text/css"/>
    <title>Rate Your Instructor</title>
</head>
<body>
    <div class="instructor">
        <div class="image">
            <img class="img" src="../images/don.jpg" alt="{{name}}">
        </div>
        <div class="text">
            <a href="/rate/{{name}}" class="link">Rate Your Instructor!</a>
            <div class="comments">
                <p>Previous Comments:</p>
                <div class="data">
                {{#each}}
                    <div>{{comment}}</div>  
                    <div>{{rating}}</div>
                {{/each}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>