* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #ffb6b9;
  /* position: relative; */
}

.sensei {
    color: #2e5756;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2.0rem;
}

.instructor {
  /* border: solid 1px green; */
  padding: 10px;
  margin: 10px;
  max-width: 1500px;
  margin: auto;
}

.image {
  margin: 1vh 1vw;
  /* border: yellow solid 1px; */
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 5vh;
}

.img {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.text {
  display: block;
  /* border: red solid 1px; */
}

.link {
  /* border: blue solid 1px; */
  padding: 2vmin 2vmin 2vmin 2vmin;
  margin: auto;
  width: 35%;
  display: block;
  text-align: center;
  font-size: 1.5rem;
  background-color: #61c0bf;
  color: #fae3d9;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
    0px 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
}

.comments {
  background-color: #61c0bf;
  color: #fae3d9;
  padding: 1vh 1vw;
  margin: 5vh 20vw 5vh 20vw;
  font-size: 1.5rem;
}

.data {
  /* border: solid green 1px; */
  padding: 1vh 3vw;
  font-size: 1.3rem;
  text-align: left;
}

.form {
    background-color: #61c0bf;
    color: #fae3d9;
    padding: 3vh 3vw 3vh 3vw;
    margin: 5vh 20vw 5vh 20vw;
    font-size: 1.5rem;
    /* border: red solid 1px; */

}

.label {
    padding: 10px 10px 30px 10px;
    margin-bottom: 10px;
    /* border: blue solid 1px; */
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 10px; /* Bottom margin */
    resize: vertical;
}

input[type=submit] {
    background-color: #ffb6b9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
    0px 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


/* home css */

.titleText {
  font-size: 3vmin;
  color: #2e5756;
  text-align: center;
  margin-top: 5vmin;
  font-family: "Bellota", cursive;
}

.cardContainer {
  padding-top: 7vmin;
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardContainer a {
  width: 25%;
  color: black;
  text-decoration: none;
  margin-left: 3vmin;
  margin-right: 3vmin;
  margin-bottom: 7vmin;
}

.teacherCard {
  border-radius: 10px;
  background-color: #fae3d9;
  box-shadow: 0 2.8px 2.6px rgba(0, 0, 0, 0.047),
    0 6.7px 6.3px rgba(0, 0, 0, 0.074), 0 12.5px 11.9px rgba(0, 0, 0, 0.093),
    0 22.3px 21.2px rgba(0, 0, 0, 0.109), 0 41.8px 39.7px rgba(0, 0, 0, 0.13),
    0 100px 95px rgba(0, 0, 0, 0.18);
}

.teacherCard:hover {
  box-shadow: 0 2.8px 2.6px rgba(0, 0, 0, 0.047),
    0 6.7px 6.3px rgba(0, 0, 0, 0.074), 0 12.5px 11.9px rgba(0, 0, 0, 0.093),
    0 22.3px 21.2px rgba(0, 0, 0, 0.109), 0 41.8px 39.7px rgba(0, 0, 0, 0.13),
    0 100px 95px #bbded6af;
}

.imgContainer img {
  max-width: 100%;
  max-height: 100%;
}

.cardText {
  text-align: center;
  padding-bottom: 5px;
}
